ResultadoFinal.Json
{
  "Comment": "Fluxo de compra e-commerce com SQS, SNS, Lambda e S3",
  "StartAt": "ReceberPedido",
  "States": {
    "ReceberPedido": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage",
      "Parameters": {
        "QueueUrl": "https://sqs.us-east-1.123456789012.amazonaws.com/MinhaFilaPedidos",
        "MessageBody": {
          "pedido": "detalhes-do-pedido"
        }
      },
      "Next": "ValidarPedido"
    },
    "ValidarPedido": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "ValidarPedido",
        "Payload": {
          "pedido.$": "$"
        }
      },
      "ResultPath": "$.pedidoValidado",
      "Next": "PedidoAprovado?"
    },
    "PedidoAprovado?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.pedidoValidado.aprovado",
          "BooleanEquals": true,
          "Next": "NotificarPedidoOK"
        }
      ],
      "Default": "NotificarFalhaPedido"
    },
    "NotificarFalhaPedido": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:123456789012:PedidosFalha",
        "Message": "Pedido não aprovado"
      },
      "End": true
    },
    "NotificarPedidoOK": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:123456789012:PedidosSucesso",
        "Message": "Pedido aprovado"
      },
      "Next": "ProcessarPagamento"
    },
    "ProcessarPagamento": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "ProcessarPagamento",
        "Payload": {
          "pedido.$": "$"
        }
      },
      "ResultPath": "$.pagamento",
      "Next": "PagamentoAprovado?"
    },
    "PagamentoAprovado?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.pagamento.aprovado",
          "BooleanEquals": true,
          "Next": "NotificarPagamentoAprovado"
        }
      ],
      "Default": "NotificarFalhaPagamento"
    },
    "NotificarFalhaPagamento": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:123456789012:PagamentosFalha",
        "Message": "Pagamento não aprovado"
      },
      "End": true
    },
    "NotificarPagamentoAprovado": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:123456789012:PagamentosSucesso",
        "Message": "Pagamento aprovado"
      },
      "Next": "IntegrarBackstage"
    },
    "IntegrarBackstage": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "IntegrarBackstage",
        "Payload": {
          "pedido.$": "$"
        }
      },
      "Next": "GerarComprovanteS3"
    },
    "GerarComprovanteS3": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "GerarComprovante",
        "Payload": {
          "pedido.$": "$"
        }
      },
      "ResultPath": "$.comprovante",
      "Next": "NotificarPedidoFinal"
    },
    "NotificarPedidoFinal": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:123456789012:PedidosFinal",
        "Message": {
          "default": "Pedido confirmado e comprovante disponível",
          "s3Url.$": "$.comprovante.s3Url"
        }
      },
      "End": true
    }
  }
}